numpy
pandas
scipy
matplotlib
seaborn
plotly

scikit-learn

# Deep learning 
torch
torchvision
torchaudio
tensorflow

jupyterlab
notebook
ipykernel
#ipymplS
#ipywidgets

kagglehub

#tqdm
#joblib
#lightgbm
#requests